 <section class="feature-1" >
    <div class="container">
        <div class="row align-items-center">
             <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="feature-img">
                    <img src="images/about/book1.jpg" alt="" class="img-fluid w-100">
                </div>
            </div>

            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="feature-content section-heading mt-5 mt-lg-0" >
                    <h2 class="text-md mb-4 mt-2">Engaging New Audiences through Smart Approach </h2>
                    
                    <p class="mb-5">Nostrum dolore illo ipsum numquam maiores adipisci harum at esse odit consequatur natus laboriosam beatae iste, a provident sequi qui cum nihil.</p>

                    <ul class="list-unstyled">
                        <li class="mb-4">
                            <div class="feature-item d-flex">
                                <div class="icon-block">
                                    <i class="ti-bar-chart color-style-1"></i>
                                </div>
                                <div class="content">
                                    <h4>Technical SEO Audit</h4>
                                    <p>Sed laborum omnis earum facere culpa optio natus quaerat minus.</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="feature-item d-flex">
                                <div class="icon-block">
                                    <i class="ti-write color-style-2"></i>
                                </div>
                                <div class="content">
                                    <h4>Reporting & Analysis</h4>
                                    <p>Sed laborum omnis earum facere culpa optio natus quaerat minus.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- / .container -->
</section>

<section class="feature-2 section">
    <div class="container">
         <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="feature-content pl-4 section-heading" >
                    <h2 class="text-md mb-4 mt-2">Tips & tricks on how to boost your sales.</h2>
                    
                    <p class="mb-5">Nostrum dolore illo ipsum numquam maiores adipisci harum at esse odit consequatur natus laboriosam beatae iste, a provident sequi qui cum nihil.</p>

                    <ul class="list-unstyled">
                        <li class="mb-4">
                            <div class="feature-item d-flex">
                                <div class="icon-block">
                                    <i class="ti-bar-chart color-style-1"></i>
                                </div>
                                <div class="content">
                                    <h4>Search Engine Optimization</h4>
                                    <p>Sed laborum omnis earum facere culpa optio natus quaerat minus.</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="feature-item d-flex">
                                <div class="icon-block">
                                    <i class="ti-layout color-style-2"></i>
                                </div>
                                <div class="content">
                                    <h4>WebSite Development</h4>
                                    <p>Sed laborum omnis earum facere culpa optio natus quaerat minus.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

             <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="feature-img">
                    <img src="images/service/illustration-3.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
