<section class="about section" id="author">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="about-img">
                    <img src="images/about/home-1.jpg" alt="" class="img-fluid w-100">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="author-info pl-4 mt-5 mt-lg-0">
                    <h2 class="text-lg">Yasin Arafat</h2>
                    <p class="mb-4 lead">- A technical Writer</p>
                    <p>Do you want to be even more successful? Learn to love learn and growth. The more efort you put into improving your skills, the bigger the payoff you will get.</p>

                    <p class="mb-5">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>

                    <img src="images/about/2.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>