<section class="setcion" id="book">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="book-preview">
					<img src="images/about/kindle.png" class="background-device img-fluid" alt="">
					<div class="owl-book owl-carousel owl-theme" style="opacity: 1; display: block;">
						<div class="owl-wrapper-outer">
							<div class="owl-wrapper" style="width: 1920px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-640px, 0px, 0px);">
								<div class="owl-item" style="width: 320px;">
									<div class="item">
										<img src="images/about/book_page.png" alt="" class="img-fluid">
										<div class="overlay">
											<a href="images/about/book_page.png" class="popup-gallery img-fluid" data-title="Image Caption"><i class="ti-fullscreen"></i></a>
										</div>
									</div>
								</div>
								<div class="owl-item" style="width: 320px;">
									<div class="item">
										<img src="images/about/book_page2.png" alt="" class="img-fluid"> 
										<div class="overlay">
											<a href="images/about/book_page2.png" class="popup-gallery img-fluid" data-title="Image Caption"><i class="ti-fullscreen"></i></a>
										</div>
									</div>
								</div>

								<div class="owl-item" style="width: 320px;">
									<div class="item">
										<img src="images/about/book_page.png" alt="" class="img-fluid">
										<div class="overlay">
											<a href="images/about/book_page.png" class="popup-gallery img-fluid" data-title="Image Caption"><i class="ti-fullscreen"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="section-heading book-info mt-5 mt-lg-0">
					<h2 class="text-lg mb-4">Look Inside the book</h2>
					<p >This lovely, well-written book is concerned with creating typography and is essential for professionals who regularly work for clients.</p>

					<p>Dolor quam consectetur corrupti, dignissimos sequi. Nihil totam alias, ipsa facere quibusdam, modi accusamus quod quae quaerat.</p>

					<ul class="list-unstyled mt-4 mb-5">
						<li><i class="ti-check mr-3"></i> 7 Chapter</li>
						<li><i class="ti-check mr-3"></i> Explained Details</li>
						<li><i class="ti-check mr-3"></i> Clear Understanding</li>
						<li><i class="ti-check mr-3"></i> Best practices</li>
					</ul>

					<a href="#" class="btn btn-main-2">Purchase on Amazon</a>
				</div>
			</div>
		</div>
	</div>
</section>	
