<section class="section others-book">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="section-heading text-center">
					<h2 class="text-lg">Others books by the author</h2>
					<p>Laboriosam eos aperiam excepturi accusamus velit repudiandae sit rem incidunt, similique facere quas blanditiis.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="book-item mb-4 mb-lg-0">
					<img src="images/about/b-1.jpg" alt="" class="img-fluid">
					<a href="#" class="hover-item">
						<i class="ti-link"></i>
					</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="book-item mb-4 mb-lg-0">
					<img src="images/about/b-2.jpg" alt="" class="img-fluid">
					<a href="#" class="hover-item">
						<i class="ti-link"></i>
					</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="book-item mb-4 mb-lg-0">
					<img src="images/about/b-3.jpg" alt="" class="img-fluid">
					<a href="#" class="hover-item">
						<i class="ti-link"></i>
					</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="book-item mb-4 mb-lg-0">
					<img src="images/about/b-4.jpg" alt="" class="img-fluid">
					<a href="#" class="hover-item">
						<i class="ti-link"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>		
