<section class="section chapter" id="chapter">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2 class="text-lg">Full Chapter Overview</h2>
                    <p>Libero atque veniam molestiae ipsa aliquid quam facilis dolore.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="chapter-inner">
                    <div class="chapter-item">
                        <h4>Chapter 1</h4>
                        <p>Tips on scouting the city and making the most out of your three-month tourist visa.</p>
                    </div>
                    <div class="chapter-item">
                        <h4>Chapter 3</h4>
                        <p>Calculating your cost of living, with an overview of NYC neighborhoods and average rent prices. Includes tips on when to move to NYC.</p>
                    </div>
                    <div class="chapter-item">
                        <h4>Chapter 5</h4>
                        <p> A full chapter just about visas. Overview of work visa options, tips on finding and applying for the right visa, including immigration attorney recommendations.</p>
                    </div>
                     <div class="chapter-item">
                        <h4>Chapter 7</h4>
                        <p>Tips on scouting the city and making the most out of your three-month tourist visa.</p>
                    </div>
                    <div class="chapter-item">
                        <h4>Chapter 9</h4>
                        <p>Calculating your cost of living, with an overview of NYC neighborhoods and average rent prices. Includes tips on when to move to NYC.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="chapter-inner">
                    <div class="chapter-item">
                        <h4>Chapter 2</h4>
                        <p> A full chapter just about visas. Overview of work visa options, tips on finding and applying for the right visa, including immigration attorney recommendations.</p>
                    </div>
                    <div class="chapter-item">
                        <h4>Chapter 4</h4>
                        <p> Making use of events, networking as a designer/developer and tips on finding a job in the industry. How to meet the right people online and offline.</p>
                    </div>
                     <div class="chapter-item">
                        <h4>Chapter 6</h4>
                        <p>Understanding how the city works. Best practices for eating out and grocery shopping, with simple tricks on navigating the city in the most efficient way. </p>
                    </div>
                    <div class="chapter-item">
                        <h4>Chapter 8</h4>
                        <p>The last chapter deals with basic annual maintenance, including filing your taxes, health care tips and staying on top of your visa situation.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>