<section id="clients-logo-section" class="section-top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
          <div class="section-heading text-center">
            <h2 class="text-lg">We are award winner best selling book among the top rated 10 books!</h2>
          </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="award-block text-center p-4 border mb-4">
          <h5 class="mb-3">International award</h5>
          <img src="images/about/award-1.png" alt="" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="award-block text-center p-4 border mb-4">
          <h5 class="mb-3">Meritorious award</h5>
          <img src="images/about/award-2.png" alt="" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="award-block text-center p-4 border mb-4">
          <h5 class="mb-3">Best book award</h5>
          <img src="images/about/award-3.png" alt="" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="award-block text-center p-4 border mb-4">
          <h5 class="mb-3">Excellence award</h5>
          <img src="images/about/award-4.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>