<section class="section contact bg-grey" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-8">
               <div class="section-heading text-center">
                    <h2 class="mb-2 text-lg">Contact Us</h2>
                    <p>Whether you have questions or you would just like to say hello, contact us.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, atque!</p>
               </div>
            </div>
        </div> <!-- / .row -->

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-block text-center mb-4">
                    <i class="ti-headphone-alt"></i>
                    <p class="mb-0">Contact Quickly</p>
                    <h5>+23-68017684</h5>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-block text-center mb-4">
                    <i class="ti-email"></i>
                    <p class="mb-0">Email</p>
                    <h5>startor@support.com</h5>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-block text-center mb-4">
                    <i class="ti-location-pin"></i>
                    <p class="mb-0">Location</p>
                    <h5>397 Lake forest drive street USA</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div id="map" ></div> -->