<section class="cta-2 ">
	<div class="container">
		<hr class="pb-5">
		<div class="row justify-content-between">
			<div class="col-lg-6">
				<div class="cta-content">
					<h2 class="text-lg">Don’t miss news from Grand Central Publishing.</h2>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="subscribe">
					<h3 class="mb-4">Get up to 20% Discount</h3>
					<input type="text" class="form-control mb-4"  placeholder="Put your email address">

					<a href="#" class="btn btn-main">Get a Free Estimate<i class="ti-angle-right ml-3"></i></a>  
				</div>
			</div>
		</div>
	</div>
</section>