 <footer class="footer ">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 col-sm-12 ">
                <div class="footer-widget">
                    <h2 class="mb-4">Influencer</h2>
                    <p class="mb-4">Each theme featured at the Bootstrap marketplace has been reviewed by Bootstrap's creators.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="subscribe ">
                    <h4 class="mb-4">Get up to 20% Discount</h4>
                    <input type="text" class="form-control mb-4"  placeholder="Put your email address">

                    <a href="#" class="btn btn-main">Download Now<i class="ti-angle-right ml-3"></i></a>  
                </div>
            </div>
        </div> 
    </div> 

   
    <div class="container">
        <div class="row footer-btm mt-5 pt-4 border-top">
            <div class="col-lg-6">
                <!-- Copyright -->
                <p class="footer-copy">
                    &copy; Copyright <span class="current-year">Themefisher</span> All rights reserved-2019.
                </p>
            </div>
            <div class="col-lg-6">
                <div class="footer-btm-menu text-lg-right">
                    <img src="images/about/cards-3.png" alt="" class="img-fluid">
                </div>
            </div>
        </div> <!-- / .row -->
    </div>
</footer>



<!--  Page Scroll to Top  -->

<a class="scroll-to-top smoth-scroll" href="#top-header">
    <i class="ti-angle-up"></i>
</a>
