<section class="section blog-home border-top" id="blog">
	<div class="container">
		 <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-heading text-center">
                    <h2 class="text-lg mb-3">Our insights and articles </h2>
                    <p>Laboriosam eos aperiam excepturi accusamus velit repudiandae sit rem incidunt, similique facere quas blanditiis.</p>
                </div>
            </div>
        </div>

		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="blog-item card mb-4 mb-lg-0 border-0">
					<img src="images/blog/blog1.jpg" alt="" class="img-fluid w-100">
					<div class="blog-item-content p-4">
						<div class="blog-meta mb-2">
							<span><i class="ti-time mr-2"></i>17 june 2019</span>
							<a href="#">by Rahat Rishab</a>
						</div>
						<h4 class="mt-2 mb-3"><a href="blog-single.html">Corporate Workflow ethics make a diffrence</a></h4>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="blog-item card mb-4 mb-lg-0 border-0">
					<img src="images/blog/blog2.jpg" alt="" class="img-fluid w-100">
					<div class="blog-item-content  p-4">
						<div class="blog-meta mb-2">
							<span><i class="ti-time mr-2"></i>17 june 2019</span>
							<a href="#" >by Rahat Rishab</a>
						</div>

						<h4 class="mt-2 mb-3"><a href="blog-single.html">Solution for the corporate and individual customer</a></h4>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="blog-item card mb-4 mb-lg-0 border-0">
					<img src="images/blog/blog3.jpg" alt="" class="img-fluid w-100">
					<div class="blog-item-content p-4">
						<div class="blog-meta mb-2">
							<span><i class="ti-time mr-2"></i>17 june 2019</span>
							<a href="#">by Rahat Rishab</a>
						</div>

						<h4 class="mt-2 mb-3"><a href="blog-single.html">Software flexibility and hardware performance </a></h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

