<div class="sidebar-wrap mt-5 mt-lg-0">
	<div class="sidebar-widget mb-5">
		<img src="images/blog/blog-author.jpg" alt="" class="img-fluid mx-auto">
		<h4 class="mb-2 mt-4">Arther Conal</h4>

		<ul class="list-inline author-socials">
			<li class="list-inline-item mr-3">
				<a href="#"><i class="ti-facebook text-muted"></i></a>
			</li>
			<li class="list-inline-item mr-3">
				<a href="#"><i class="ti-twitter text-muted"></i></a>
			</li>
			<li class="list-inline-item mr-3">
				<a href="#"><i class="ti-linkedin text-muted"></i></a>
			</li>
			<li class="list-inline-item mr-3">
				<a href="#"><i class="ti-pinterest text-muted"></i></a>
			</li>
			<li class="list-inline-item mr-3">
				<a href="#"><i class="ti-dribbble text-muted"></i></a>
			</li>
		</ul>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolore.</p>
			
	</div>

	<div class="sidebar-widget search mb-5 p-4 bg-grey">
		<input type="text" class="form-control" placeholder="search">
		<a href="#" class="btn btn-dark d-block mt-3">search</a>
	</div>

	<div class="sidebar-widget latest-post mb-4 p-4 bg-grey">
		<h4 class="mb-4">Latest Posts</h4>

        <div class="media border-bottom py-3">
            <a href="#"><img class="mr-4" src="images/blog/bt-3.jpg" alt=""></a>
            <div class="media-body">
                <span class="text-sm text-muted">03 Mar 2018</span>
                <h6 class="mt-1"><a href="#">Thoughtful living in los Angeles</a></h6>
            </div>
        </div>

        <div class="media border-bottom py-3">
            <a href="#"><img class="mr-4" src="images/blog/bt-2.jpg" alt=""></a>
           <div class="media-body">
           		<span class="text-sm text-muted">03 Mar 2018</span>
                <h6 class="mt-1"><a href="#">Vivamus molestie gravida turpis.</a></h6>
            </div>
        </div>

        <div class="media py-3">
            <a href="#"><img class="mr-4" src="images/blog/bt-1.jpg" alt=""></a>
            <div class="media-body">
            	<span class="text-sm text-muted">03 Mar 2018</span>
                <h6 class="mt-1"><a href="#">Fusce lobortis lorem at ipsum semper sagittis</a></h6>
            </div>
        </div>
	</div>

	<div class="sidebar-widget category mb-4 p-4 bg-grey">
		<h4 class="mb-4">Catgeory</h4>
		<ul class="list-unstyled">
		  <li>
		    <a href="#">Cras justo odio</a>
		    <span>(14)</span>
		  </li>
		  <li>
		    <a href="#">Dapibus ac facilisis in</a>
		    <span>(2)</span>
		  </li>
		  <li>
		    <a href="#">Morbi leo risus</a>
		    <span>(1)</span>
		  </li>
		   <li>
		    <a href="#">Lorem ipsum dolor sit amet</a>
		    <span>(22)</span>
		  </li>

		</ul>
	</div>

	<div class="sidebar-widget tags mb-3">
		<h4 class="mb-4">Tags</h4>

		<a href="#">Web</a>
		<a href="#">agency</a>
		<a href="#">company</a>
		<a href="#">creative</a>
		<a href="#">html</a>
		<a href="#">Marketing</a>
		<a href="#">Social Media</a>
		<a href="#">Branding</a>
	</div>
</div>