<section class="pt-4 section-bottom" id="service">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-block mb-4 mb-lg-0">
                    <i class="ti-microphone text-danger"></i>
                    <h4 class="mb-3 mt-4">Experience</h4>
                    <p class="mb-0">Must explain to you how this denouncing praisig pain was give you explain to you how…</p>
                </div>
            </div>
             <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-block mb-4 mb-lg-0">
                    <i class="ti-rocket text-success"></i>
                    <h4 class="mb-3 mt-4">Marketing Goals</h4>
                    <p class="mb-0">Must explain to you how this denouncing praisig pain was give you explain to you how…</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                 <div class="service-block mb-4 mb-lg-0">
                    <i class="ti-email text-warning"></i>
                    <h4 class="mb-3 mt-4">Targetting Vission</h4>
                    <p class="mb-0">Must explain to you how this denouncing praisig pain was give you explain to you how…</p>
                </div>
            </div>
        </div>
    </div>
</section>
