<section class="banner-main py-7" id="banner">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 col-md-8">
                <div class="main-banner">
                    <span class="text-color font-weight-bold">George Stewart</span>
                    <h1 class="mb-3 mt-2">
                       The Man in the <br>Glass House 
                    </h1>

                    <div class="mb-4">
                        <h4>Price :- <span class="text-color">$14.99</span></h4>
                    </div>
                    <p class="mb-4">We work with our partners to streamline project plans that don’t just deliver on product perfection, but also delivers on time.</p>

                    <a href="#" target="_blank" class="btn btn-main mt-2">
                        Purchase now <i class="ti-angle-right ml-3"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-5 d-none d-lg-block">
                <div class="banner-img pt-5">
                    <img src="images/about/book.png" alt="" class="img-fluid w-100">
                </div>
            </div>
        </div> 
    </div> 
</section>

