<section class="section-bottom testimonial" id="review">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12">
             <div class="section-heading text-center">
                <h2 class="mb-3 text-lg">What people are saying</h2>
                <p>Amazing reviews illo tenetur laboriosam excepturi velit in, temporibus ab rem dicta sint obcaecati!</p>
             </div>
          </div>
      </div>

      <div class="row align-items-center">
        <div class="col-lg-12 col-sm-12 col-md-12 testimonial-wrap">
            <div class="test-item">
               <div class="testimonial-item-content">
                   <div class="test-author-thumb mb-4">
                       <img src="images/client/test-1.jpg" alt="Testimonial author" class="img-fluid">

                        <div class="test-author-info mt-4">
                          <div class="rating">
                            <a href="#"><i class="ti-star"></i></a>
                            <a href="#"><i class="ti-star"></i></a>
                            <a href="#"><i class="ti-star"></i></a>
                            <a href="#"><i class="ti-star"></i></a>
                            <a href="#"><i class="ti-star"></i></a>
                          </div>

                           <h4 class="mb-0 mt-2">Barrow Hasi</h4>
                           <p>Sunrise ten</p>
                        </div>
                   </div>

                   <p class="mb-0">Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam.</p>
               </div>
            </div>
       
            <div class="test-item">
              <div class="testimonial-item-content">
                   <div class="test-author-thumb mb-4">
                       <img src="images/client/test-2.jpg" alt="Testimonial author" class="img-fluid">

                       <div class="test-author-info mt-4">
                          <div class="rating">
                            <a href="#"><i class="ti-star"></i></a>
                            <a href="#"><i class="ti-star"></i></a>
                            <a href="#"><i class="ti-star"></i></a>
                            <a href="#"><i class="ti-star"></i></a>
                            <a href="#"><i class="ti-star"></i></a>
                          </div>

                           <h4 class="mb-0 mt-2">Will Barrow</h4>
                           <p>Sunrise Paradise Hotel</p>
                        </div>
                        
                   </div>
                   <p class="mb-0">Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam.</p>
               </div>
            </div>

             <div class="test-item ">
                <div class="testimonial-item-content">
                   <div class="test-author-thumb mb-4">
                       <img src="images/client/test-1.jpg" alt="Testimonial author" class="img-fluid">

                       <div class="test-author-info mt-4">
                          <div class="rating">
                            <a href="#"><i class="ti-star"></i></a>
                            <a href="#"><i class="ti-star"></i></a>
                            <a href="#"><i class="ti-star"></i></a>
                            <a href="#"><i class="ti-star"></i></a>
                            <a href="#"><i class="ti-star"></i></a>
                          </div>

                           <h4 class="mb-0 mt-2">Michale john</h4>
                           <p>Suntech company</p>
                        </div>
                   </div>
                   <p class="mb-0">Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam.</p>
               </div>
            </div>

             <div class="test-item">
                <div class="testimonial-item-content">
                   <div class="test-author-thumb mb-4">
                       <img src="images/client/test-2.jpg" alt="Testimonial author" class="img-fluid">

                       <div class="test-author-info mt-4">
                          <div class="rating">
                            <a href="#"><i class="ti-star"></i></a>
                            <a href="#"><i class="ti-star"></i></a>
                            <a href="#"><i class="ti-star"></i></a>
                            <a href="#"><i class="ti-star"></i></a>
                            <a href="#"><i class="ti-star"></i></a>
                          </div>

                           <h4 class="mb-0 mt-2">John doe</h4>
                           <p>Paradise IT </p>
                        </div>
                   </div>
                   <p class="mb-0">Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam.</p>
               </div>
            </div>
          </div>
      </div>
    </div>
</section>
